<div class="card">
  <div class="card-image">
    <img [src]="getProductImages(product)" alt="{{product.name}}">
  </div>
  <div class="card-content">
    <h3 class="card-title">{{product.name}}</h3>
    <p class="description">{{product.description}}</p>
    <div class="divider"></div>
    <p style="font-style: italic">&euro; {{product.price}}</p>
  </div>
  <div class="card-action">
    <a routerLink="/producten/{{product.id}}">Details</a>
    <a (click)="this.cartService.addProductToCart(product)" style="cursor: pointer">In winkelmand</a>
  </div>
</div>
