.small-image {
  margin-top: 10px;
  width: 150px;
  height: 150px;
}

.cart-text {
  font-size: 20px;
}

.btn {
  background-color: #ffb200;
}

.no-products {
  margin-top: 20px;
  font-size: 40px;
  font-weight: bold;
}
