<div class="row">
  <div class="col s12">
    <div class="col s12 l7 center">
      <img class="responsive-img" src="{{getProductImages(product.images[0])}}" alt="{{product.name}}">
    </div>
    <div class="col s12 l5">
      <div class="container">
        <div class="row">
          <h2>{{product.name}}</h2>
          <div class="divider"></div>
          <p class="product-price">&euro;{{product.price}}</p>
          <p class="flow-text">{{product.description}}</p>
          <button class="btn">Add to cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
