.responsive-img {
  margin-top: 10px;
  height: 800px;
}

.sticky {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.btn {
  background-color: #ffb200;
}

.product-price {
  font-size: 25px;
  color: #747474;
  margin-top: 15px;
}

.flow-text {
  font-weight: bold;
}
